<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/lib/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/lib/easyui/1.8.1/themes/bootstrap/easyui.css" media="all">
    <link rel="stylesheet" href="/lib/easyui/1.8.1/themes/icon.css" media="all">
    <link rel="stylesheet" href="/css/my.css" media="all">
    <style>
        .center-panel {
            padding: 0px;
        }
        .layui-col-space10 {
            margin: 0px;
        }
        .layui-card-header {
            padding: 0 10px;
            margin-left: 10px;
            margin-right: 5px;
        }
        .layui-form-sm .layui-form-label {
            width: 50px;
        }
        .layui-form-sm .layui-input-block{
            margin-left: 50px;
        }
        .layui-form-sm .layui-form-item .layui-input-inline {
            width: 61px;
            margin-right: 0px;
        }
        .layui-col-md8 .layui-card-body {
            padding-top: 2px;
            padding-bottom: 0px;
        }
    </style>
</head>
<body>
<div class="layui-row center-panel">
    <div class="layui-col-md4">
        <div class="layui-card">
            <div class="layui-card-header">
                <h3><b>患者信息</b></h3>
            </div>
            <form id="record-form" lay-filter="record-form" class="layui-form layui-form-sm" autocomplete="off">
                <input type="hidden" name="recordId" value="">
                <div class="layui-row layui-col-space10 layui-form-item">
                    <div class="layui-col-sm6">
                        <label class="layui-form-label">日期：</label>
                        <div class="layui-input-block">
                            <input name="arriveTime" readonly class="layui-input" placeholder="请选择日期">
                        </div>
                    </div>
                    <div class="layui-col-sm6">
                        <label class="layui-form-label"><span class="required">*</span>姓名：</label>
                        <div class="layui-input-block">
                            <input name="patientName" class="layui-input" placeholder="请填写姓名"
                                   maxlength="20" lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-col-sm6">
                        <label class="layui-form-label"><span class="required">*</span>性别：</label>
                        <div class="layui-input-block">
                            <input type="radio" name="patientSex" value="1" title="男" checked>
                            <input type="radio" name="patientSex" value="2" title="女">
                        </div>
                    </div>
                    <div class="layui-col-sm6">
                        <div class="layui-inline">
                            <label class="layui-form-label"><span class="required">*</span>年龄：</label>
                            <div class="layui-input-inline">
                                <input name="patientAge" class="layui-input" placeholder="年龄"
                                       maxlength="3" lay-verify="required|number">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <select name="ageUnit" lay-filter="ageUnit">
                                    <option value="y">岁</option>
                                    <option value="m">月</option>
                                    <option value="d">天</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-sm6">
                        <label class="layui-form-label">电话：</label>
                        <div class="layui-input-block">
                            <input name="patientPhone" class="layui-input" placeholder="请填写电话" lay-verify="phone">
                        </div>
                    </div>
                    <div class="layui-col-sm6">
                        <label class="layui-form-label">职业：</label>
                        <div class="layui-input-block">
                            <input name="patientJob" class="layui-input" placeholder="请填写职业" maxlength="20">
                        </div>
                    </div>
                    <div class="layui-col-sm12">
                        <label class="layui-form-label">住址：</label>
                        <div class="layui-input-block">
                            <input name="patientAddress" class="layui-input" placeholder="请填写住址" maxlength="50">
                        </div>
                    </div>
                    <div class="layui-col-sm12">
                        <label class="layui-form-label"><span class="required">*</span>四诊：</label>
                        <div class="layui-input-block">
                            <textarea name="lookSmellAskPress" class="layui-textarea" placeholder="请填写四诊" maxlength="500" lay-verify="required" style="min-height: 80px"></textarea>
                        </div>
                    </div>
                    <div class="layui-col-sm12">
                        <label class="layui-form-label">辩证：</label>
                        <div class="layui-input-block">
                            <textarea name="analysis" class="layui-textarea" placeholder="请填写辩证" maxlength="500"></textarea>
                        </div>
                    </div>
                    <div class="layui-col-sm12">
                        <label class="layui-form-label"><span class="required">*</span>诊断：</label>
                        <div class="layui-input-block">
                            <input name="diagnosis" class="layui-input" placeholder="请填写诊断" maxlength="100" lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-col-sm12">
                        <label class="layui-form-label">治法：</label>
                        <div class="layui-input-block">
                            <input name="therapeuticMethod" class="layui-input" placeholder="请填写治法" maxlength="100">
                        </div>
                    </div>
                    <div class="layui-col-sm12">
                        <label class="layui-form-label">处方：</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="prescriptionType" value="1" title="中药方" lay-skin="primary" lay-filter="prescriptionType">
                            <input type="checkbox" name="prescriptionType" value="2" title="中成药方" lay-skin="primary" lay-filter="prescriptionType">
                            <input type="checkbox" name="prescriptionType" value="3" title="医技项目" lay-skin="primary" lay-filter="prescriptionType">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--处方-->
    <div class="layui-col-md8">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="layui-tab layui-tab-brief" lay-filter="medical-record-tabs">
                    <ul class="layui-tab-title">
                        <li style="display: none"></li>
                        <li class="layui-this">中药方</li>
                        <li style="display: none">中成药方</li>
                        <li style="display: none">医技项目</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item">
                            <div style="text-align: center;margin-top: 200px">请选择一个或多个处方!</div>
                        </div>
                        <div class="layui-tab-item layui-show">
                            <form id="decoction-form" lay-filter="decoction-form" class="layui-form layui-form-sm">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label" style="width: 45px;">剂数：</label>
                                        <div class="layui-input-inline" style="width: 40px;">
                                            <input type="number" name="prescriptionType" value="3" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label" style="width: 70px;">单剂金额：</label>
                                        <div class="layui-input-inline" style="width: 70px;">
                                            <input type="number" name="prescriptionType" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label" style="width: 60px;">总金额：</label>
                                        <div class="layui-input-inline" style="width: 75px;">
                                            <input type="number" name="prescriptionType" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label" style="width: 45px;">用法：</label>
                                        <div class="layui-input-inline" style="width: 120px;">
                                            <select name="" lay-filter=""></select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label" style="width: 45px;">医嘱：</label>
                                        <div class="layui-input-inline" style="width: 110px;">
                                            <input type="text" name="prescriptionType" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!--<table id="decoction-table" style="max-height: 350px;width:100%"
                                   data-options="fitColumns: true, autoRowHeight: true, singleSelect: true, rownumbers:true">
                                <thead>
                                <tr>
                                    <th data-options="field: 'stockDetailId'" width="15%">药品名称</th>
                                    <th data-options="field: 'dose'" width="7%">剂量</th>
                                    <th data-options="field: 'stockUnitName'" width="8%">单位</th>
                                    <th data-options="field:'jiange'" width="3%"></th>
                                    <th data-options="field: 'stockDetailId'" width="15%">药品名称</th>
                                    <th data-options="field: 'dose'" width="7%">剂量</th>
                                    <th data-options="field: 'stockUnitName'" width="8%">单位</th>
                                    <th data-options="field:'jiange'" width="3%"></th>
                                    <th data-options="field: 'stockDetailId'" width="15%">药品名称</th>
                                    <th data-options="field: 'dose'" width="7%">剂量</th>
                                    <th data-options="field: 'stockUnitName'" width="8%">单位</th>
                                    &lt;!&ndash;<th data-options="field: 'operation',align:'center'" width="10%">操作</th>&ndash;&gt;
                                </tr>
                                </thead>
                            </table>
                            <div id="search-prescription">
                                搜索处方：<input class="easyui-searchbox" data-options="prompt:'处方名称',searcher:doSearch" style="width:170px"></input>
                            </div>-->
                            <div id="p" class="easyui-panel" style="width:100%;height:350px;">
                                <div id="search-prescription" class="datagrid-toolbar">
                                    搜索处方：<input class="easyui-searchbox" data-options="prompt:'处方名称',searcher:doSearch" style="width:170px"></input>
                                </div>
                                <div class="layui-row layui-col-space10">
                                    <div class="layui-col-md4">
                                        <table class="easyui-datagrid" style="width:100%;height:300px" data-options="showHeader:false,scrollbarSize:0,border:true">
                                            <thead>
                                                <tr>
                                                    <th data-options="field: 'stockDetailId'" width="40%">药品名称</th>
                                                    <th data-options="field: 'dose'" width="30%">剂量</th>
                                                    <th data-options="field: 'stockUnitName'" width="30%">单位</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="layui-col-md4">
                                        <table class="easyui-datagrid" style="width:100%;height:300px" data-options="showHeader:false,scrollbarSize:0,border:true">
                                            <thead>
                                            <tr>
                                                <th data-options="field: 'stockDetailId'" width="40%">药品名称</th>
                                                <th data-options="field: 'dose'" width="30%">剂量</th>
                                                <th data-options="field: 'stockUnitName'" width="30%">单位</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="layui-col-md4">
                                        <table class="easyui-datagrid" style="width:100%;height:300px" data-options="showHeader:false,scrollbarSize:0,border:true">
                                            <thead>
                                            <tr>
                                                <th data-options="field: 'stockDetailId'" width="40%">药品名称</th>
                                                <th data-options="field: 'dose'" width="30%">剂量</th>
                                                <th data-options="field: 'stockUnitName'" width="30%">单位</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="layui-tab-item">
                            <form id="patent-medicine-form" lay-filter="patent-medicine-form" class="layui-form layui-form-sm">
                                <div class="layui-row layui-col-space10 layui-form-item">
                                    <div class="layui-col-sm4">
                                        <label class="layui-form-label" style="width: 60px;">总金额：</label>
                                        <div class="layui-input-block" style="margin-left: 60px;">
                                            <input name="totalMoney" class="layui-input" placeholder="请填写总金额" lay-verify="required|number">
                                        </div>
                                    </div>
                                    <div class="layui-col-sm8">
                                        <label class="layui-form-label">医嘱：</label>
                                        <div class="layui-input-block">
                                            <input name="advice" class="layui-input" placeholder="请填写医嘱">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <table id="patent-medicine-table" style="max-height: 350px;width:100%"
                                   data-options="fitColumns: true, autoRowHeight: true, singleSelect: true, rownumbers:true">
                                <thead>
                                <tr>
                                    <th data-options="field: 'stockDetailId'" width="25%">药品名称</th>
                                    <th data-options="field: 'specifications'" width="15%">规格</th>
                                    <th data-options="field: 'usageAndDosage'" width="17%">用法用量</th>
                                    <th data-options="field: 'unitPrice'" width="13%">单价(元)</th>
                                    <th data-options="field: 'medicineCount'" width="7%">数量</th>
                                    <th data-options="field: 'totalMoney'" width="13%">总价(元)</th>
                                    <th data-options="field: 'operation',align:'center'" width="10%">操作</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="layui-tab-item">
                            <form id="skill-form" lay-filter="skill-form" class="layui-form layui-form-sm">
                                <div class="layui-row layui-col-space10 layui-form-item">
                                    <div class="layui-col-sm3">
                                        <label class="layui-form-label" style="width: 60px;">总金额：</label>
                                        <div class="layui-input-block" style="margin-left: 60px;">
                                            <input name="totalMoney" class="layui-input" placeholder="请填写总金额" lay-verify="required|number">
                                        </div>
                                    </div>
                                    <div class="layui-col-sm4">
                                        <label class="layui-form-label">医嘱：</label>
                                        <div class="layui-input-block">
                                            <input name="advice" class="layui-input" placeholder="请填写医嘱">
                                        </div>
                                    </div>
                                    <div class="layui-col-sm5">
                                        <label class="layui-form-label" style="width: 70px;">付款方式：</label>
                                        <div class="layui-input-block" style="margin-left: 70px;">
                                            <input type="radio" name="paymentMethod" value="1" title="一次付清" checked>
                                            <input type="radio" name="paymentMethod" value="2" title="只付本次">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <table id="skill-table" style="max-height: 350px;width:100%"
                                   data-options="fitColumns: true, autoRowHeight: true, singleSelect: true, rownumbers:true">
                                <thead>
                                <tr>
                                    <th data-options="field: 'skillId'" width="30%">项目</th>
                                    <th data-options="field: 'unitPrice'" width="20%">单次价格</th>
                                    <th data-options="field: 'frequency'" width="20%">次数</th>
                                    <th data-options="field: 'totalMoney'" width="20%">总价</th>
                                    <th data-options="field: 'operation',align:'center'" width="10%">操作</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="btn-group" class="layui-row" style="display: none;">
                    <div class="layui-col-md-offset5 layui-col-md3">
                        ￥：0.00元
                    </div>
                    <div class="layui-col-md-offset1 layui-col-md3 layui-btn-container">
                        <button type="button" class="layui-btn layui-btn-sm">保存</button>
                        <button type="button" class="layui-btn layui-btn-sm">结算</button>
                        <button type="button" class="layui-btn layui-btn-sm">下一位</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/lib/easyui/1.8.1/jquery.min.js"></script>
<script src="/lib/layuiadmin/layui/layui.js"></script>
<script src="/js/common/constant.js"></script>
<script src="/lib/easyui/1.8.1/jquery.easyui.min.js"></script>
<script src="/lib/easyui/1.8.1/locale/easyui-lang-zh_CN.js"></script>
<script src="/views/module/record/medicalRecordForm.js"></script>
</body>
</html>