<!DOCTYPE html>
<html>
<head>
    <title>处方管理</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/lib/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/lib/easyui/1.8.1/themes/bootstrap/easyui.css">
    <link rel="stylesheet" href="/lib/easyui/1.8.1/themes/icon.css">
    <link rel="stylesheet" href="/lib/ztree/css/bootstrapStyle/bootstrapStyle.css" media="all">
    <link rel="stylesheet" href="/css/my.css" media="all">
    <style type="text/css">
        .layui-form-item {
            margin-bottom: 8px;
        }

        .layui-form-label {
            padding:  9px 5px;
            width: 90px;
        }

        .layui-input-block {
            margin-left: 100px;
        }
        .layui-textarea {
            min-height: 70px;
        }
        .left-tree .layui-btn-normal {
            color: #0c64eb;
            background-color: rgba(233,242,251,.8);
            border-color: rgba(0,0,0,0);
        }
        .left-tree .layui-btn-normal:hover {
            background-color: rgb(30, 159, 255);
        }
    </style>
</head>
<body>
<div class="layui-row">
    <div class="layui-col-md3">
        <div class="left-panel">
            <div class="left-search">
                <input type="text" placeholder="搜索目录" autocomplete="off" class="layui-input" style="width: 70%">
                <button id="add-root-btn1" class="layui-btn layui-btn-normal layui-btn-sm layui-btn-disabled" title="新增处方目录">
                    <i class="layui-icon layui-icon-add-1"></i>
                </button>
            </div>
            <div class="left-tree">
                <div id="blank-tip" style="text-align: center;display: none">
                    暂时没有处方目录。
                    <button id="add-root-btn2" class="layui-btn layui-btn-normal layui-btn-sm" title="新增">
                        <i class="layui-icon layui-icon-add-1"></i>新增
                    </button>
                </div>
                <ul class="ztree" id="catalogue"></ul>
            </div>
        </div>
    </div>
    <div class="layui-col-md9">
        <div class="right-panel">
            <div class="layui-card">
                <div class="layui-card-header">
                    <h3><b>处方信息</b></h3>
                </div>
                <div class="layui-card-body">
                    <div class="blank-tip" style="text-align: center;padding-top: 200px">
                        请选择一个目录。
                    </div>
                    <form id="prescription-form" class="layui-form" action="" lay-filter="prescription-form" style="display: none">
                        <input type="hidden" name="prescriptionId" value="">
                        <input type="hidden" name="catalogueId" value="">
                        <div class="layui-row layui-col-space10 layui-form-item">
                            <div class="layui-col-lg4 layui-col-sm4">
                                <label class="layui-form-label">方剂名称：</label>
                                <div class="layui-input-block">
                                    <input name="classicsName" autocomplete="off" class="layui-input" placeholder="请填写方剂名称"
                                           maxlength="20" lay-verify="required|repeat">
                                </div>
                            </div>
                            <div class="layui-col-lg4 layui-col-sm4">
                                <label class="layui-form-label">方剂类型：</label>
                                <div class="layui-input-block">
                                    <select name="classicsType">
                                        <option value="">请选择方剂类型</option>
                                        <option value="010">经方</option>
                                        <option value="021">验方</option>
                                        <option value="0571">偏方</option>
                                        <option value="0572">秘方</option>
                                        <option value="0573">单方</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-col-lg4 layui-col-sm4">
                                <label class="layui-form-label">方剂出处：</label>
                                <div class="layui-input-block">
                                    <input name="classicsSource" class="layui-input" placeholder="请填写方剂出处" maxlength="50" >
                                </div>
                            </div>
                        </div>
                        <div class="layui-row layui-col-space10 layui-form-item">
                            <div class="layui-col-lg12 layui-col-sm12">
                                <label class="layui-form-label">方剂组成：</label>
                                <div class="layui-input-block">
                                    <textarea name="classicsComponent" autocomplete="off" class="layui-textarea" rows="2"
                                              maxlength="500" lay-verify="required" placeholder="请填写方剂组成"></textarea>
                                    <div class="layui-form-mid layui-word-aux" style="color: red !important;padding: 5px 0px 0px 0px !important;">
                                        方剂组成填写示例：黄芪30克&nbsp;&nbsp;&nbsp;当归6克&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请严格按规范填写！
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="layui-row layui-col-space10 layui-form-item">
                            <div class="layui-col-lg6 layui-col-sm6">
                                <label class="layui-form-label">用法：</label>
                                <div class="layui-input-block">
                                    <input name="takingMethod" class="layui-input" placeholder="请填写用法" maxlength="100" lay-verify="required">
                                </div>
                            </div>
                            <div class="layui-col-lg6 layui-col-sm6">
                                <label class="layui-form-label">功用：</label>
                                <div class="layui-input-block">
                                    <input name="classicsFunction" class="layui-input" placeholder="请填写功用"
                                           maxlength="100" lay-verify="required">
                                </div>
                            </div>
                        </div>
                        <div class="layui-row layui-col-space10 layui-form-item">
                            <div class="layui-col-lg6 layui-col-sm6">
                                <label class="layui-form-label">主治：</label>
                                <div class="layui-input-block">
                                    <textarea name="classicsAttending" autocomplete="off" class="layui-textarea" rows="4"
                                              maxlength="500" lay-verify="required" placeholder="请填写主治"></textarea>
                                </div>
                            </div>
                            <div class="layui-col-lg6 layui-col-sm6">
                                <label class="layui-form-label">方解：</label>
                                <div class="layui-input-block">
                                    <textarea name="classicsExplain" autocomplete="off" class="layui-textarea" rows="4"
                                              maxlength="2000" placeholder="请填写方解"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="layui-row layui-col-space10 layui-form-item">
                            <div class="layui-col-lg6 layui-col-sm6">
                                <label class="layui-form-label">禁忌：</label>
                                <div class="layui-input-block">
                                    <textarea name="classicsTaboo" autocomplete="off" class="layui-textarea" rows="2"
                                              maxlength="100" placeholder="请填写禁忌"></textarea>
                                </div>
                            </div>
                            <div class="layui-col-lg6 layui-col-sm6">
                                <label class="layui-form-label">方歌：</label>
                                <div class="layui-input-block">
                                    <textarea name="classicsSong" autocomplete="off" class="layui-textarea" rows="2"
                                              maxlength="100" placeholder="请填写方歌"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="layui-row layui-col-space10">
                            <div class="layui-col-lg-offset10 layui-col-lg2" style="text-align: right;">
                                <button type="button" lay-filter="submit-btn" lay-submit class="layui-btn layui-btn-sm">保存</button>
                                <button type="button" lay-filter="cancel-btn" class="layui-btn layui-btn-primary layui-btn-sm">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/lib/layuiadmin/layui/layui.js"></script>
<script src="/lib/easyui/1.8.1/jquery.min.js"></script>
<script src="/lib/easyui/1.8.1/jquery.easyui.min.js"></script>
<script src="/lib/ztree/js/jquery.ztree.all.js"></script>
<script src="/lib/ztree/js/fuzzysearch.js"></script>
<script src="/js/common/constant.js"></script>
<script src="/views/module/prescription/prescription.js"></script>
</body>
</html>