<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littledoctor.clinicassistant.module.purchase.order.mapper.OrderMapper">

    <!-- 根据条件查询 库存信息 -->
    <select id="findAll" resultType="java.util.Map">
        SELECT
            a.pur_order_id purOrderId,
            a.pur_order_code purOrderCode,
            a.pur_order_date purOrderDate,
            a.supplier_id supplierId,
            b.supplier_name supplierName,
            d.item_name itemName,
            a.is_entry entry,
            a.total_price totalPrice
        FROM
            pur_order a,
            pur_supplier b,
            (
                SELECT
                    b1.pur_order_id,
                    GROUP_CONCAT(b1.item_name SEPARATOR '，') item_name
                FROM
                    pur_order_detail b1
                GROUP BY
                    b1.pur_order_id
            ) d
        WHERE
            a.supplier_id = b.supplier_id
        AND a.pur_order_id = d.pur_order_id
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            AND date_format(a.create_time,'%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="itemName != null and itemName != ''">
            AND d.item_name LIKE concat('%', #{itemName}, '%')
        </if>
        <if test="supplierId != null and supplierId != ''">
            AND a.supplier_id = #{supplierId}
        </if>
        ORDER BY
            a.is_entry ASC,
            a.create_time DESC
        LIMIT ${offSet},${pageSize}
    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            pur_order a,
            (
                SELECT
                    a1.pur_order_id,
                    GROUP_CONCAT(b1.item_name SEPARATOR '，') item_name
                FROM
                    pur_order a1,
                    pur_order_detail b1
                WHERE
                    a1.pur_order_id = b1.pur_order_id
                GROUP BY
                    a1.pur_order_id
            ) d
        WHERE
            a.pur_order_id = d.pur_order_id
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            AND date_format(a.create_time,'%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="itemName != null and itemName != ''">
            AND d.item_name LIKE concat('%', #{itemName}, '%')
        </if>
        <if test="supplierId != null and supplierId != ''">
            AND a.supplier_id = #{supplierId}
        </if>
    </select>

    <!--入库，查询采购单-->
    <select id="findByIdForStock" resultType="java.util.Map">
        SELECT
            a.pur_order_id purOrderId,
            a.pur_order_code purOrderCode,
            a.pur_order_date purOrderDate,
            a.supplier_id supplierId,
            b.supplier_name supplierName,
            a.total_price totalPrice
        FROM
            pur_order a,
            pur_supplier b
        WHERE
            a.pur_order_id = #{purOrderId}
        AND a.supplier_id = b.supplier_id
    </select>

    <!--入库，查询订单详情-->
    <select id="findOrderDetailForStock" resultType="java.util.Map">
        SELECT
            b.pur_order_id purOrderId,
            b.pur_order_detail_id purOrderDetailId,
            b.item_id itemId,
            b.item_name itemName,
            b.item_type itemType,
            CONCAT(0 + CAST(b.pur_count AS CHAR),'（',b.pur_unit_name,'）') purCount,
            REPLACE(FORMAT(b.unit_price,4),',','') unitPrice,
            REPLACE(FORMAT(b.total_price,4),',','') totalPrice,
            os.stock_price stockPrice,
            b.batch_number batchNumber,
            b.expire_date expireDate,
            b.manufacture_date manufactureDate,
            c.unit_convert unitConvert,
            b.pur_count * c.unit_convert stockCount,
            c.stock_unit_name stockUnitName,
            c.abbr_pinyin abbrPinyin,
            c.full_pinyin fullPinyin
        FROM
            pur_order_detail b,
            item_purchase c,
            (
                SELECT
                    o.item_id,
                    GROUP_CONCAT(DISTINCT s.selling_price SEPARATOR '，') stock_price
                FROM
                    pur_order_detail o LEFT JOIN pur_stock s ON o.item_id = s.item_id
                AND o.pur_order_id = #{purOrderId}
                AND s.stock_state = 1
                GROUP BY o.item_id
            ) os
        WHERE
            b.pur_order_id = #{purOrderId}
        AND b.item_id = os.item_id
        AND b.item_id = c.item_id
        AND b.item_type = c.item_type
    </select>
</mapper>