<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littledoctor.clinicassistant.module.purchase.order.mapper.PurOrderMapper">

    <!-- 根据条件查询 库存信息 -->
    <select id="findAll" resultType="java.util.Map">
        SELECT
            a.pur_order_id purOrderId,
            a.pur_order_code purOrderCode,
            a.pur_order_date purOrderDate,
            a.supplier_id supplierId,
            b.supplier_name supplierName,
            d.pur_item_name purItemName,
            a.is_entry entry,
            a.total_price totalPrice
        FROM
            pur_order a,
            pur_supplier b,
            (
                SELECT
                    b1.pur_order_id,
                    GROUP_CONCAT(c1.pur_item_name SEPARATOR '，') pur_item_name,
                    GROUP_CONCAT(c1.abbr_pinyin) abbr_pinyin,
                    GROUP_CONCAT(c1.full_pinyin) full_pinyin
                FROM
                    pur_order_detail b1,
                    pur_item c1
                WHERE
                    b1.pur_item_id = c1.pur_item_id
                GROUP BY
                    b1.pur_order_id
            ) d
        WHERE
            a.supplier_id = b.supplier_id
        AND a.pur_order_id = d.pur_order_id
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            AND date_format(a.create_time,'%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="purItemName != null and purItemName != ''">
            AND (
                d.pur_item_name LIKE concat('%', #{purItemName}, '%')
                OR LOWER(d.abbr_pinyin) LIKE concat('%', LOWER(#{purItemName}), '%')
                OR UPPER(d.full_pinyin) LIKE concat('%', UPPER(#{purItemName}), '%')
            )
        </if>
        <if test="supplierId != null and supplierId != ''">
            AND a.supplier_id = #{supplierId}
        </if>
        ORDER BY
            a.is_entry ASC,
            a.create_time DESC
        LIMIT ${offSet},${pageSize}
    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            pur_order a,
            (
                SELECT
                    a1.pur_order_id,
                    GROUP_CONCAT(c1.pur_item_name SEPARATOR '，') pur_item_name,
                    GROUP_CONCAT(c1.abbr_pinyin) abbr_pinyin,
                    GROUP_CONCAT(c1.full_pinyin) full_pinyin
                FROM
                    pur_order a1,
                    pur_order_detail b1,
                    pur_item c1
                WHERE
                    a1.pur_order_id = b1.pur_order_id
                AND b1.pur_item_id = c1.pur_item_id
                GROUP BY
                    a1.pur_order_id
            ) d
        WHERE
            a.pur_order_id = d.pur_order_id
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            AND date_format(a.create_time,'%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="purItemName != null and purItemName != ''">
            AND (
            d.pur_item_name LIKE concat('%', #{purItemName}, '%')
            OR LOWER(d.abbr_pinyin) LIKE concat('%', LOWER(#{purItemName}), '%')
            OR UPPER(d.full_pinyin) LIKE concat('%', UPPER(#{purItemName}), '%')
            )
        </if>
        <if test="supplierId != null and supplierId != ''">
            AND a.supplier_id = #{supplierId}
        </if>
    </select>

    <!--入库，查询采购单-->
    <select id="findByIdForStock" resultType="java.util.Map">
        SELECT
            a.pur_order_id purOrderId,
            a.pur_order_code purOrderCode,
            a.pur_order_date purOrderDate,
            a.supplier_id supplierId,
            b.supplier_name supplierName,
            a.total_price totalPrice
        FROM
            pur_order a,
            pur_supplier b
        WHERE
            a.pur_order_id = #{purOrderId}
        AND a.supplier_id = b.supplier_id
    </select>

    <!--入库，查询订单详情-->
    <select id="findOrderDetailForStock" resultType="java.util.Map">
        SELECT
            b.pur_order_id purOrderId,
            b.pur_order_detail_id purOrderDetailId,
            b.pur_item_id purItemId,
            c.pur_item_name purItemName,
            CONCAT(0 + CAST(b.pur_count AS CHAR),'（',d.dict_name,'）') purCount,
            REPLACE(FORMAT(b.unit_price,4),',','') unitPrice,
            c.unit_convert unitConvert,
            os.stock_price stockPrice,
            b.batch_number batchNumber,
            b.expire_date expireDate,
            b.manufacture_date manufactureDate,
            b.pur_count * c.unit_convert stockCount
        FROM
            pur_order_detail b,
            pur_item c,
            sys_dictionary d,
            (
                SELECT
                    o.pur_item_id,
                    GROUP_CONCAT(DISTINCT s.selling_price SEPARATOR '，') stock_price
                FROM
                    pur_order_detail o LEFT JOIN pur_stock s ON o.pur_item_id = s.pur_item_id
                AND o.pur_order_id = #{purOrderId}
                AND s.stock_state = 1
                GROUP BY o.pur_item_id
            ) os
        WHERE
            b.pur_order_id = #{purOrderId}
        AND b.pur_item_id = c.pur_item_id
        AND c.pur_unit = d.dict_value
        AND d.dict_key = '${@com.littledoctor.clinicassistant.common.constant.DictionaryKey@PUR_ITEM_JHBZ}'
        AND d.is_use = 1
        AND b.pur_item_id = os.pur_item_id
    </select>
</mapper>