.subhead-blue {
    color: blue;
    font-size: 14px;
}

.right-panel {
    margin: 10px 10px 10px 10px;
}

#page {
    text-align:center
}

.cmdlist-text .info {
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    overflow: hidden;
    color: #666;
    margin-bottom: 0px;
}

.cmdlist-container .cmdlist-text .info {
    text-align: center;
    font-weight: bold;
}

