/*左侧搜索栏*/
.left-panel {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 6px;
}

.left-search {
    padding-bottom: 10px;
}

.left-search input {
    display: inline;
    width: 70%;
    height: 30px;
    font-size: 12px;
}

.left-search i {
    font-size: 22px;
    margin-left: 4px;
}

.left-panel .left-search .layui-btn-group .layui-btn-sm {
    padding: 0px 5px;
}

.layui-btn-group .layui-btn:first-child {
    border-radius: 4px 0 0 4px;
}

.layui-btn-group .layui-btn:last-child {
    border-radius: 0 4px 4px 0;
}

/** 左侧单列表格样式 */
.left-panel .layui-table tbody tr:hover {
    background-color: white!important;
}

.left-panel .layui-table tbody tr div.select,
.left-panel .layui-table tbody tr div:hover {
    color: cornflowerblue;
    font-size: 15px;
}

.left-panel .layui-table-view {
    margin: 0px;
}

/*右侧面板*/
.right-panel {
    padding: 0px 10px;
    margin: 10px 10px 10px 0px;
    background-color: white;
    border-radius: 6px;
}

.layui-card {
    box-shadow: 0 0 0 0 rgba(0,0,0,0.0);
    border-radius: 6px;
}

.layui-card-header {
    border-bottom: 1px solid #eee;
}

/* 下拉树 */
.layui-input-block .eleTree{
    width: 350px;
    height: 200px;
    border: 1px solid #ccc;
    overflow: hidden;
    display: inline-block;
}

.layui-input-block .select-tree{
    overflow-y: auto;
    width: 100%;
    display: none;
    position: absolute;
    top:100%;
    background-color: #fff;
    z-index: 100;
}

/*右侧面板*/
.center-panel {
    padding: 0px 10px;
    margin: 10px;
    background-color: white;
}






/* 表单 */
.layui-input, .layui-select, .layui-textarea, .layui-btn {
    border-radius: 4px;
}

/*必填项的红*号*/
.layui-form-label span.required {
    color: red;
    /*text-align: center;*/
}
