<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littledoctor.clinicassistant.module.purchase.stock.mapper.PurStockMapper">

    <!-- 根据条件查询 库存信息 -->
    <select id="count" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            pur_stock a
        WHERE
            a.stock_state = 1
        <if test="expireDate">
            AND a.expire_date &lt;= date_format(date_add(NOW(), interval 1 MONTH) ,'%Y-%m-%d')
            AND a.expire_date IS NOT NULL
            AND LENGTH(a.expire_date) != 0
        </if>
        <if test="!expireDate">
            AND (a.expire_date > date_format(sysdate(),'%Y-%m-%d') OR a.expire_date IS NULL OR LENGTH(a.expire_date) = 0)
        </if>
        <if test="keywords != null and keywords != ''">
            AND (
                a.item_name LIKE CONCAT('%', #{keywords}, '%')
                OR LOWER(a.abbr_pinyin) LIKE concat('%', LOWER(#{keywords}), '%')
                OR UPPER(a.full_pinyin) LIKE concat('%', UPPER(#{keywords}), '%')
            )
        </if>
    </select>

    <!-- 根据条件查询 库存信息 -->
    <select id="findAll" resultType="java.util.Map">
        SELECT
            a.pur_stock_id purStockId,
            a.item_name itemName,
            d.dict_name dictName,
            a.batch_number batchNumber,
            a.expire_date expireDate,
            CONCAT(0 + CAST(a.stock_count AS CHAR),'（',a.stock_unit_name,'）') stockCount,
            REPLACE (FORMAT(a.selling_price, 4),',','') sellingPrice
        FROM
            pur_stock a,
            sys_dictionary d
        WHERE
            a.stock_state = 1
        <if test="expireDate">
            AND a.expire_date &lt;= date_format(date_add(NOW(), interval 1 MONTH) ,'%Y-%m-%d')
            AND a.expire_date IS NOT NULL
            AND LENGTH(a.expire_date) != 0
        </if>
        <if test="!expireDate">
            AND (a.expire_date > date_format(sysdate(),'%Y-%m-%d') OR a.expire_date IS NULL OR LENGTH(a.expire_date) = 0)
        </if>
        AND a.item_type = d.dict_value
        AND d.dict_key = '${@com.littledoctor.clinicassistant.common.constant.DictionaryKey@ITEM_PMFL}'
        AND d.is_use = 1
        <if test="keywords != null and keywords != ''">
            AND (
                a.item_name LIKE CONCAT('%', #{keywords}, '%')
                OR LOWER(a.abbr_pinyin) LIKE concat('%', LOWER(#{keywords}), '%')
                OR UPPER(a.full_pinyin) LIKE concat('%', UPPER(#{keywords}), '%')
            )
        </if>
        LIMIT ${offset},${pageSize}
    </select>

    <!--查看库存品目的采购信息-->
    <select id="findByIdForOrder" resultType="java.util.Map">
        SELECT
            a.item_name itemName,
            f.dict_name itemType,
            b.pur_order_code purOrderCode,
            b.pur_order_date purOrderDate,
            d.supplier_name supplierName,
            CONCAT(0 + CAST(c.pur_count AS CHAR),' ',c.pur_unit_name) purCount,
            REPLACE(FORMAT(c.unit_price,2),',','') unitPrice,
            REPLACE(FORMAT(c.total_price,2),',','') totalPrice
        FROM
            pur_stock a,
            pur_order b,
            pur_order_detail c,
            pur_supplier d,
            sys_dictionary f
        WHERE
            a.pur_stock_id = #{purStockId}
        AND a.pur_order_id = b.pur_order_id
        AND a.pur_item_id = c.pur_item_id
        AND b.supplier_id = d.supplier_id
        AND a.pur_order_id = c.pur_order_id
        AND f.is_use = 1
        AND f.dict_key = '${@com.littledoctor.clinicassistant.common.constant.DictionaryKey@ITEM_PMFL}'
    </select>

    <!--查询库存预警-->
    <select id="findWarnAll" resultType="java.util.Map">
        SELECT
            a.pur_stock_id purStockId,
            a.item_id itemId,
            a.item_name itemName,
            c.dict_name itemType,
            CONCAT(0 + CAST(b.stock_warn AS CHAR),'（',a.stock_unit_name,'）') stockWarn,
            CONCAT(0 + CAST(a.stock_count AS CHAR),'（',a.stock_unit_name,'）') stockCount
        FROM
            pur_stock a,
            item_purchase b,
            sys_dictionary c
        WHERE
            a.item_id = b.item_id
        AND a.stock_count &lt;= b.stock_warn
        AND a.stock_state = 1
        AND c.dict_key = '${@com.littledoctor.clinicassistant.common.constant.DictionaryKey@ITEM_PMFL}'
        AND a.item_type = c.dict_value
        AND c.is_use = 1
        <if test="keywords != null and keywords != ''">
            AND (
                b.item_name LIKE CONCAT('%', #{keywords}, '%')
                OR LOWER(b.full_pinyin) LIKE CONCAT('%', LOWER(#{keywords}), '%')
                OR UPPER(b.abbr_pinyin) LIKE CONCAT('%', UPPER(#{keywords}), '%')
--                 OR b.barcode = #{keywords}
            )
        </if>
        LIMIT ${offset},${pageSize}
    </select>

    <!--查询库存预警-->
    <select id="countWarn" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            pur_stock a,
            item_purchase b
        WHERE
            a.item_id = b.item_id
        AND a.stock_count &lt;= b.stock_warn
        AND a.stock_state = 1
        <if test="keywords != null and keywords != ''">
            AND (
            b.item_name LIKE CONCAT('%', #{keywords}, '%')
            OR LOWER(b.full_pinyin) LIKE CONCAT('%', LOWER(#{keywords}), '%')
            OR UPPER(b.abbr_pinyin) LIKE CONCAT('%', UPPER(#{keywords}), '%')
--             OR b.barcode = #{keywords}
            )
        </if>
    </select>

    <!--查询已过期-->
    <select id="countExpire" resultType="java.lang.Integer">
        SELECT count(1) FROM pur_stock a WHERE a.stock_state = 1
    </select>

    <!--查询已过期-->
    <select id="findExpireAll" resultType="java.util.Map">
        SELECT
            a.pur_stock_id purStockId,
            a.item_id itemId,
            b.item_name itemName,
            c.dict_name itemType,
            a.expire_date expireDate,
            CONCAT(0 + CAST(a.stock_count AS CHAR),'（',a.stock_unit_name),'）') stockCount,
            CONCAT(REPLACE(FORMAT(e.unit_price,2),',',''),'/',e.pur_unit_name) unitPrice,
            REPLACE(FORMAT(e.unit_price / b.unit_convert * a.stock_count,2),',','') loss
        FROM
            pur_stock a,
            item_purchase b,
            sys_dictionary c,
            pur_order_detail e
        WHERE
            a.stock_state = '3'
        AND c.is_use = 1
        AND c.dict_type = 2
        AND c.dict_key = 'CGPMFL'
        AND a.item_id = b.item_id
        AND b.item_type = c.dict_value
        AND a.pur_order_id = e.pur_order_id
        AND a.item_id = e.item_id
    </select>

    <!-- 用于病历开方时根据药品名称查询药品信息 -->
    <select id="getCombogridForDecoction" resultType="java.util.Map">
        SELECT
            b1.item_id itemId,
            b1.item_name itemName,
            b1.poisonous poisonous,
            b1.usage_and_dosage usageAndDosage,
            b1.taboo taboo,
            b1.stock_unit stockUnit,
            b1.specifications specifications,
            b1.manufacturer manufacturer,
            b1.item_type itemType,
            a1.selling_price sellingPrice,
            a1.stock_detail_id stockDetailId,
            a1.stock_count stockCount
        FROM
            (
                SELECT
                    b.item_id,
                    b.item_name,
                    b.poisonous,
                    b.usage_and_dosage,
                    b.taboo,
                    b.stock_unit,
                    b.specifications,
                    b.manufacturer,
                    b.item_type
                FROM
                    item_purchase b
                WHERE
                    (
                        b.item_name LIKE CONCAT('%', #{keywords}, '%')
                        OR LOWER(b.full_pinyin) LIKE CONCAT('%', LOWER(#{keywords}), '%')
                        OR UPPER(b.abbr_pinyin) LIKE CONCAT('%', UPPER(#{keywords}), '%')
                    )
                    <if test="itemType != null">
                        AND b.item_type = #{itemType}
                    </if>
            ) b1,
            (
                SELECT
                    a.item_id,
                    a.selling_price,
                    GROUP_CONCAT(a.stock_detail_id ORDER BY a.stock_detail_id) stock_detail_id,
                    SUM(a.stock_count) stock_count
                FROM
                    stock_detail a
                WHERE
                    a.stock_count > 0
                AND a.stock_state = 1
                GROUP BY
                    a.item_id,
                    a.selling_price
            ) a1
        WHERE
            b1.item_id = a1.item_id
    </select>

    <!--根据药材名称查询药材信息-->
    <select id="findByName" resultType="java.util.Map">
        SELECT
            b1.item_id itemId,
            b1.item_name itemName,
            b1.poisonous poisonous,
            b1.usage_and_dosage usageAndDosage,
            b1.taboo taboo,
            b1.stock_unit stockUnit,
            a1.selling_price sellingPrice,
            a1.stock_detail_id stockDetailId,
            a1.stock_count stockCount
        FROM
            (
                SELECT
                    b.item_id,
                    b.item_name,
                    b.poisonous,
                    b.usage_and_dosage,
                    b.taboo,
                    b.stock_unit
                FROM
                    item_purchase b
                WHERE
                    b.item_name = #{medicalName} AND b.item_type = 1
            ) b1,
            (
                SELECT
                    a.item_id,
                    a.selling_price,
                    GROUP_CONCAT(a.stock_detail_id ORDER BY a.stock_detail_id) stock_detail_id,
                    SUM(a.stock_count) stock_count
                FROM
                    stock_detail a
                WHERE
                    a.stock_count > 0
                AND a.stock_state = 1
                GROUP BY
                    a.item_id,
                    a.selling_price
            ) a1
        WHERE
            b1.item_id = a1.item_id
        ORDER BY a1.selling_price
        LIMIT 1
    </select>

</mapper>