<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littledoctor.clinicassistant.module.purchase.stock.mapper.PurStockMapper">

    <!-- 根据条件查询 库存信息 -->
    <select id="count" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            pur_stock a,
            pur_item i
        WHERE
            a.pur_item_id = i.pur_item_id
        AND a.stock_state = 1
        <if test="expireDate">
            AND a.expire_date &lt;= date_format(date_add(NOW(), interval 1 MONTH) ,'%Y-%m-%d')
            AND a.expire_date IS NOT NULL
            AND LENGTH(a.expire_date) != 0
        </if>
        <if test="!expireDate">
            AND (a.expire_date > date_format(sysdate(),'%Y-%m-%d') OR a.expire_date IS NULL OR LENGTH(a.expire_date) = 0)
        </if>
        <if test="keywords != null and keywords != ''">
            AND (
            i.pur_item_name LIKE CONCAT('%', #{keywords}, '%')
            OR LOWER(i.full_pinyin) LIKE CONCAT('%', LOWER(#{keywords}), '%')
            OR UPPER(i.abbr_pinyin) LIKE CONCAT('%', UPPER(#{keywords}), '%')
            OR i.barcode = #{keywords}
            )
        </if>
    </select>

    <!-- 根据条件查询 库存信息 -->
    <select id="findAll" resultType="java.util.Map">
        SELECT
            a.pur_stock_id purStockId,
            i.pur_item_name purItemName,
            d.dict_name dictName,
            a.batch_number batchNumber,
            a.expire_date expireDate,
            CONCAT(0 + CAST(a.stock_count AS CHAR),'（',d1.dict_name,'）') stockCount,
            REPLACE (FORMAT(a.selling_price, 4),',','') sellingPrice
        FROM
            pur_stock a,
            pur_item i,
            sys_dictionary d,
            sys_dictionary d1
        WHERE
            a.pur_item_id = i.pur_item_id
        <if test="expireDate">
            AND a.expire_date &lt;= date_format(date_add(NOW(), interval 1 MONTH) ,'%Y-%m-%d')
            AND a.expire_date IS NOT NULL
            AND LENGTH(a.expire_date) != 0
        </if>
        <if test="!expireDate">
            AND (a.expire_date > date_format(sysdate(),'%Y-%m-%d') OR a.expire_date IS NULL OR LENGTH(a.expire_date) = 0)
        </if>
        AND i.pur_item_type = d.dict_value
        AND i.stock_unit = d1.dict_value
        AND d.dict_key = '${@com.littledoctor.clinicassistant.common.constant.DictionaryKey@PUR_ITEM_CGPMFL}'
        AND d1.dict_key = '${@com.littledoctor.clinicassistant.common.constant.DictionaryKey@PUR_ITEM_LSDW}'
        AND a.stock_state = 1
        AND d.is_use = 1
        AND d1.is_use = 1
        <if test="keywords != null and keywords != ''">
            AND (
            i.pur_item_name LIKE CONCAT('%', #{keywords}, '%')
            OR LOWER(i.full_pinyin) LIKE CONCAT('%', LOWER(#{keywords}), '%')
            OR UPPER(i.abbr_pinyin) LIKE CONCAT('%', UPPER(#{keywords}), '%')
            OR i.barcode = #{keywords}
            )
        </if>
        LIMIT ${offset},${pageSize}
    </select>

    <!--查看库存品目的采购信息-->
    <select id="findByIdForOrder" resultType="java.util.Map">
        SELECT
            e.pur_item_name purItemName,
            f.dict_name purItemType,
            b.pur_order_code purOrderCode,
            b.pur_order_date purOrderDate,
            d.supplier_name supplierName,
            CONCAT(0 + CAST(c.pur_count AS CHAR),' ',g.dict_name) purCount,
            REPLACE(FORMAT(c.unit_price,2),',','') unitPrice,
            REPLACE(FORMAT(c.total_price,2),',','') totalPrice
        FROM
            pur_stock a,
            pur_order b,
            pur_order_detail c,
            pur_supplier d,
            pur_item e,
            sys_dictionary f,
            sys_dictionary g
        WHERE
            a.pur_stock_id = #{purStockId}
        AND a.pur_order_id = b.pur_order_id
        AND a.pur_item_id = e.pur_item_id
        AND a.pur_item_id = c.pur_item_id
        AND b.supplier_id = d.supplier_id
        AND a.pur_order_id = c.pur_order_id
        AND e.pur_item_type = f.dict_value
        AND e.pur_unit = g.dict_value
        AND f.is_use = 1
        AND f.dict_key = '${@com.littledoctor.clinicassistant.common.constant.DictionaryKey@PUR_ITEM_CGPMFL}'
        AND g.is_use = 1
        AND g.dict_key = '${@com.littledoctor.clinicassistant.common.constant.DictionaryKey@PUR_ITEM_JHBZ}'
    </select>

    <!--查询库存预警-->
    <select id="findWarnAll" resultType="java.util.Map">
        SELECT
            a.pur_stock_id purStockId,
            a.pur_item_id purItemId,
            b.pur_item_name purItemName,
            c.dict_name purItemType,
            CONCAT(0 + CAST(b.stock_warn AS CHAR),'（',d.dict_name,'）') stockWarn,
            CONCAT(0 + CAST(a.stock_count AS CHAR),'（',d.dict_name,'）') stockCount
        FROM
            pur_stock a,
            pur_item b,
            sys_dictionary c,
            sys_dictionary d
        WHERE
            a.pur_item_id = b.pur_item_id
        AND a.stock_count &lt;= b.stock_warn
        AND a.stock_state = 1
        AND c.dict_key = '${@com.littledoctor.clinicassistant.common.constant.DictionaryKey@PUR_ITEM_CGPMFL}'
        AND d.dict_key = '${@com.littledoctor.clinicassistant.common.constant.DictionaryKey@PUR_ITEM_LSDW}'
        AND b.pur_item_type = c.dict_value
        AND b.stock_unit = d.dict_value
        AND c.is_use = 1
        AND d.is_use = 1
        <if test="keywords != null and keywords != ''">
            AND (
                b.pur_item_name LIKE CONCAT('%', #{keywords}, '%')
                OR LOWER(b.full_pinyin) LIKE CONCAT('%', LOWER(#{keywords}), '%')
                OR UPPER(b.abbr_pinyin) LIKE CONCAT('%', UPPER(#{keywords}), '%')
                OR b.barcode = #{keywords}
            )
        </if>
        LIMIT ${offset},${pageSize}
    </select>

    <!--查询库存预警-->
    <select id="countWarn" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            pur_stock a,
            pur_item b
        WHERE
            a.pur_item_id = b.pur_item_id
        AND a.stock_count &lt;= b.stock_warn
        AND a.stock_state = 1
        <if test="keywords != null and keywords != ''">
            AND (
            b.pur_item_name LIKE CONCAT('%', #{keywords}, '%')
            OR LOWER(b.full_pinyin) LIKE CONCAT('%', LOWER(#{keywords}), '%')
            OR UPPER(b.abbr_pinyin) LIKE CONCAT('%', UPPER(#{keywords}), '%')
            OR b.barcode = #{keywords}
            )
        </if>
    </select>

    <!--查询已过期-->
    <select id="countExpire" resultType="java.lang.Integer">
        SELECT count(1) FROM pur_stock a WHERE a.stock_state = 1
    </select>

    <!--查询已过期-->
    <select id="findExpireAll" resultType="java.util.Map">
        SELECT
            a.pur_stock_id purStockId,
            a.pur_item_id purItemId,
            b.pur_item_name purItemName,
            c.dict_name purItemType,
            a.expire_date expireDate,
            CONCAT(0 + CAST(a.stock_count AS CHAR),'（',f.dict_name,'）') stockCount,
            CONCAT(REPLACE(FORMAT(e.unit_price,2),',',''),'/',d.dict_name) unitPrice,
            REPLACE(FORMAT(e.unit_price / b.unit_convert * a.stock_count,2),',','') loss
        FROM
            pur_stock a,
            pur_item b,
            sys_dictionary c,
            sys_dictionary d,
            pur_order_detail e,
            sys_dictionary f
        WHERE
            a.stock_state = '3'
        AND c.is_use = 1
        AND d.is_use = 1
        AND f.is_use = 1
        AND c.dict_type = 2
        AND d.dict_type = 2
        AND f.dict_type = 2
        AND c.dict_key = 'CGPMFL'
        AND d.dict_key = 'JHBZ'
        AND f.dict_key = 'LSDW'
        AND a.pur_item_id = b.pur_item_id
        AND b.pur_item_type = c.dict_value
        AND b.pur_unit = d.dict_value
        AND a.pur_order_id = e.pur_order_id
        AND a.pur_item_id = e.pur_item_id
        AND b.stock_unit = f.dict_value
    </select>

    <!-- 用于病历开方时根据药品名称查询药品信息 -->
    <select id="getCombogridForDecoction" resultType="java.util.Map">
        SELECT
            b1.pur_item_id purItemId,
            b1.pur_item_name purItemName,
            b1.poisonous poisonous,
            b1.usage_and_dosage usageAndDosage,
            b1.taboo taboo,
            b1.stock_unit stockUnit,
            b1.specifications specifications,
            b1.manufacturer manufacturer,
            b1.pur_item_type purItemType,
            a1.selling_price sellingPrice,
            a1.stock_detail_id stockDetailId,
            a1.stock_count stockCount
        FROM
            (
                SELECT
                    b.pur_item_id,
                    b.pur_item_name,
                    b.poisonous,
                    b.usage_and_dosage,
                    b.taboo,
                    b.stock_unit,
                    b.specifications,
                    b.manufacturer,
                    b.pur_item_type
                FROM
                    pur_item b
                WHERE
                    (
                        b.pur_item_name LIKE CONCAT('%', #{keywords}, '%')
                        OR LOWER(b.full_pinyin) LIKE CONCAT('%', LOWER(#{keywords}), '%')
                        OR UPPER(b.abbr_pinyin) LIKE CONCAT('%', UPPER(#{keywords}), '%')
                    )
                    <if test="purItemType != null">
                        AND b.pur_item_type = #{purItemType}
                    </if>
            ) b1,
            (
                SELECT
                    a.pur_item_id,
                    a.selling_price,
                    GROUP_CONCAT(a.stock_detail_id ORDER BY a.stock_detail_id) stock_detail_id,
                    SUM(a.stock_count) stock_count
                FROM
                    stock_detail a
                WHERE
                    a.stock_count > 0
                AND a.stock_state = 1
                GROUP BY
                    a.pur_item_id,
                    a.selling_price
            ) a1
        WHERE
            b1.pur_item_id = a1.pur_item_id
    </select>

    <!--根据药材名称查询药材信息-->
    <select id="findByName" resultType="java.util.Map">
        SELECT
            b1.pur_item_id purItemId,
            b1.pur_item_name purItemName,
            b1.poisonous poisonous,
            b1.usage_and_dosage usageAndDosage,
            b1.taboo taboo,
            b1.stock_unit stockUnit,
            a1.selling_price sellingPrice,
            a1.stock_detail_id stockDetailId,
            a1.stock_count stockCount
        FROM
            (
                SELECT
                    b.pur_item_id,
                    b.pur_item_name,
                    b.poisonous,
                    b.usage_and_dosage,
                    b.taboo,
                    b.stock_unit
                FROM
                    pur_item b
                WHERE
                    b.pur_item_name = #{medicalName} AND b.pur_item_type = 1
            ) b1,
            (
                SELECT
                    a.pur_item_id,
                    a.selling_price,
                    GROUP_CONCAT(a.stock_detail_id ORDER BY a.stock_detail_id) stock_detail_id,
                    SUM(a.stock_count) stock_count
                FROM
                    stock_detail a
                WHERE
                    a.stock_count > 0
                AND a.stock_state = 1
                GROUP BY
                    a.pur_item_id,
                    a.selling_price
            ) a1
        WHERE
            b1.pur_item_id = a1.pur_item_id
        ORDER BY a1.selling_price
        LIMIT 1
    </select>

</mapper>